body
{
    background-color: #222831;
}
.header
{
    font-family: 'Berkshire Swash', cursive;
    font-size: 64px;
    color: #ffac41;
    display: block;
    text-align: center;
}
.heading
{
    margin-top: 20px;
    margin-bottom: 35px;
}
.sub-text
{   

    margin-top: 0px;
    font-family: 'Waiting for the Sunrise', cursive;
    font-size: 40px;
    color: #ffffff;
    display: block;
    text-align: center;
}
.search
{
    text-align: center;
}
#search-key
{
    font-weight: bold;
    font-size: 15px;
    font-family: 'Amatic SC', cursive;
    background-color: #00adb5;
    border-radius: 10px;
    margin-right: 10px;
    height: 30px;
    width: 200px;
    box-shadow: white;
    color: black;
}
.error
{
    display: none;
    height:20px;
    background-color: #00adb5;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    color: antiquewhite;
    font-weight: bold;
}
.go
{
    font-weight: bold;
    font-size: 15px;
    font-family: 'Amatic SC', cursive;
    background-color: #eeeeee;
    border-radius: 10px;
    margin-right: 10px;
    height: 30px;
    width: 70px;
    box-shadow: white;
    color: black;
}
.result-text
{
    font-weight: bold;
    font-size: 35px;
    font-family: 'Amatic SC', cursive;
    color: white;
    text-align: center;
}
.loading
{   
    margin: 0 auto;
    height: 165px;
    width: 220px;
    background-image: url("../images/searching.gif");
    display: none;
}
.text
{
    display: none;
    text-align: center;
}
.ml15 {
    font-weight: 800;
    font-size: 3.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    color:white;
    font-family: 'Holtwood One SC', serif;
  }
  
  .ml15 .word {
    display: inline-block;
    line-height: 1em;
  }

  .footer
  {
    font-weight: bold;
    color: antiquewhite;
    font-family: 'Amatic SC', cursive;
    position: absolute; 
    bottom: 0px; 
  }